*{
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 3000px;
}
/* .myforms{
    width: 400px;
    margin: auto;
}
.myforms input{
    width: 100%;
}
.myforms input + .color{
width: 0;
height: 0;
background-color: yellow;
position: absolute;
left: 20%;
top: 48%;
transition: all .6s ease-in-out
}
input:focus + .color{
    width: 100%;
    height: 100%;
} */